In [11]:
# pytutorial-1

In [9]:
print ('Hello world!')

Hello world!

In [10]:
1+1

2

In [12]:
40 + 2

42

In [13]:
43 - 1

42

In [14]:
6 * 7

42

In [15]:
84 / 2

42.0

In [16]:
6**2

36

In [17]:
type(2)

int

In [18]:
type(42.0)

float

In [19]:
type('Hello, world!')

str

In [20]:
type('2')

str

1,000,000
#not an integer, comma-separated sequence of integers

In [21]:
print"hello world"

SyntaxError: invalid syntax (<ipython-input-21-967a5b6875dd>, line 1)

In [22]:
print("hello world"

SyntaxError: unexpected EOF while parsing (<ipython-input-22-fe69f65f3ba9>, line 1)

In [23]:
print("hello world)

SyntaxError: EOL while scanning string literal (<ipython-input-23-1ec64a806ae8>, line 1)

In [24]:
print(hello world)

SyntaxError: invalid syntax (<ipython-input-24-6135c6da936c>, line 1)

In [25]:
-2 +4

2

In [26]:
4++4

8

In [27]:
2++2

4

In [28]:
4 + 02

SyntaxError: invalid token (<ipython-input-28-6267989d25d6>, line 1)

In [30]:
4 2

SyntaxError: invalid syntax (<ipython-input-30-e5e118e22191>, line 1)

In [31]:
#number of seconds in 42 min and 42 seconds 
(60*42)+42

2562

In [32]:
#how many miles in 10km 
1.61 * 10

16.1

In [36]:
#average pace for 10k in 42 min 42 seconds (time per mile in minutes and seconds)
2562/10 #seconds per km

256.2

In [37]:
256.2/60 #minutes per km
#4 minutes 16 seconds

4.27

In [39]:
#Average pace in miles per hour (1 km is about 0.6 miles)
#10km = about 6 miles
#seconds per mile 
2562/6

427.0

In [40]:
427/60
#7 minutes and 7 seconds per mile

7.116666666666666

In [45]:
60/7.116666666666
#8.43 miles per hour

8.430913348946925

In [47]:
n = 17 
message = 'And now for something completely different'

In [48]:
n

17

In [49]:
message

'And now for something completely different'

In [50]:
n + 3

20

In [51]:
miles = 26.2

In [52]:
miles *1.61

42.182

In [53]:
print(miles * 1.61)

42.182

In [55]:
print(1)
x = 2
print(x)

1
2

In [56]:
print(5)
x = 5
print(x + 1)

5
6

In [57]:
first = 'throat'
second = 'warbler'
first + second

'throatwarbler'

In [58]:
'spam'*3

'spamspamspam'

In [ ]:
#Syntax error: structure 
#Semantic: meaning

In [62]:
x = y = 1

In [67]:
n = 42;
m = 43.
print(n)
print(m)

42
43.0

In [73]:
x*y #depends if a variable is associated

1

In [76]:
#The volume of a sphere with radius r is 4/3 π r3. 
#What is the volume of a sphere with radius 5?
pi = 3.14159265359
r=5
volume=(4/3)*pi*r**3
print(volume)

523.5987755983333

In [78]:
#Suppose the cover price of a book is $24.95, but bookstores get a 40% discount. 
#Shipping costs $3 for the first copy and 75 cents for each additional copy. 
#What is the total wholesale cost for 60 copies?

cost = ((60*24.95)*0.6)+3+(59*0.75)
print(cost)

945.4499999999999

In [81]:
#If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), 
#then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

minutes = 8 + 7 + 7 + 7 + 8
seconds = 12 + 12 + 12 + 15 + 15 

print(minutes)
print(seconds)

#7:30:06 am

37
66

In [82]:
int(3.456)

3

In [83]:
str(3.14)

'3.14'

In [84]:
import math

In [87]:
math

In [93]:
radians=0.7
height = math.sin(radians)

In [94]:
def print_twice(bruce):
    print(bruce)
    print(bruce)

In [96]:
print_twice('dogs')

dogs
dogs

In [97]:
michael = 'eric, the half a bee'
print_twice(michael)

eric, the half a bee
eric, the half a bee

In [101]:
math.sqrt(5)

2.23606797749979